<div class="container">

  <form id="join-form" name="join-form" class="mt-4">
    <div class="button-group mt-3">
      <button nbButton id="join" type="submit" class="btn btn-live btn-sm" (click)="startBasicCall()">Подключиться</button>
      <!--<button nbButton type="button" id="mic-btn" class="btn btn-live btn-sm" [disabled]="this.hideButtons">
        <i id="mic-icon" class="fas fa-microphone"></i>
      </button>-->
      <button nbButton type="button" id="leave" class="btn btn-live btn-sm" [disabled]="this.hideButtons" (click)="logout()">Выйти</button>
    </div>
  </form>

  <div *ngIf="this.agora.cloudRecordData?.sid">The unique identification of the current recording:
    <code>{{this.agora.cloudRecordData?.sid}}</code>
  </div>

  <div class="row video-group">
    <div class="col">
      <p id="local-player-name" class="player-name"></p>
      <div id="local-player" class="player"></div>
    </div>
    <div class="col" *ngFor="let i of agora.remoteUsers">
      <div id="{{ 'remote-playerlist' + i.uid}}" class="ui centered medium image" style="  width: 200px;
      height: 200px;">{{i.name}}</div>
    </div>
  </div>

</div>
