<nb-layout>

  <nb-layout-header fixed>
    <!-- Insert header here -->
  </nb-layout-header>

  <nb-layout-column>
    <div class="row">
      <div>
        <button nbButton type="button" status="primary" (click)="open(1)" *ngIf="hide">New user</button>
      </div>
    </div>

    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
